.news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.news-header h3 {
    width: 100%;
    text-align: center;
}

.news-header button {
    background: transparent;
    border: unset;
}